name: News updates

on:
  schedule:
    - cron: 0 * * * *

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: sarisia/actions-readme-feed@v1
        with:
          url: 'https://news.yahoo.com/rss/money'
          file: 'README.md'
      - uses: sarisia/actions-commit@master
